<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width, initial scale=1">
	<title>Malins quiz</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
	<nav class="navbar">
		<div class="container">
			<div class="navbar-malin">
			<ul>
				<li><a class="a-start" href="{% url 'start_page' %}">Home</a></li>
			</ul>
				
			</div>
		</div>
	</nav>

	<div class="jumbotron jumbotron2">
		<div class="container">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6 questions">
						<h1>{{ quiz.name }}</h1>
							<h3>{{ question_number }}. {{ question }}</h3>
							<input type="radio" name="alt" id="alternativ1" value="">
							<label for="alternativ1" class="check"><span></span> {{ answer1 }}</label><br>
							<input type="radio" name="alt" id="alternativ2" value="">
							<label for="alternativ2" class="check"><span></span> {{ answer2 }}</label><br>
							<input type="radio" name="alt" id="alternativ3" value="">
							<label for="alternativ3" class="check"><span></span>{{ answer3 }}</label>
						<br>
						<a href="{% url 'results_page' quiz_number %}">
						<button class="quizknapp quizknapp2" style="vertical-align: middle;"><span>RESULTAT</span></button></a>
					</div>
					<div class="col-md-3">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>